* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #111119;
  color: #aaa;
  font-family: 'Noto Sans Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
